<div style="display: flex; justify-content: center; z-index: 1">
    <div style="width:50%;">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-body p-5">
                <h2 class="fw-bold mb-0">{{alert}}</h2>
                <ul class="d-grid gap-4 my-5 list-unstyled">
                    <li class="d-flex gap-4">
                        <svg class="bi text-muted flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
                        <div>
                            <h5 class="mb-0">Grid view</h5>
                            Not into lists? Try the new grid view.
                        </div>
                    </li>
                    <li class="d-flex gap-4">
                        <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                        <div>
                            <h5 class="mb-0">Bookmarks</h5>
                            Save items you love for easy access later.
                        </div>
                    </li>
                    <li class="d-flex gap-4">
                        <svg class="bi text-primary flex-shrink-0" width="48" height="48"><use xlink:href="#film"></use></svg>
                        <div>
                            <h5 class="mb-0">Video embeds</h5>
                            Share videos wherever you go.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>